<div class="col-md-6">
	<img src="images/profile.png" id="bioimage">
</div>
<div class="col--md-6">
    <h1>Bio</h1>
	<p>I am a recent graduate of the Computer Programmer Analyst program at Niagara College. Through my studies, I have developed expertise in web application and database development.</p>
	<p>I completed my education at Niagara College in 2019. My program included a co-op placement in the IT department of the City of St Catharines. In this placement, I developed a number of web applications, including a scheduling and recording keeping system for the training division of the Fire Department and a tool to update municipal rates and fees. Prior to this, he worked for Youth Resources Niagara, developing a database application to support a data-driven approach to services for youths placed in YRN’s care.</p>
	<p>In my spare time, I enjoy spending time with my friends at my home in St Catharines, Ontario.</p> 
</div>