<h2>Portfolio</h2>
<div class="row">    
    <div class="col-md-4">
        <img alt="Entity Framework Logo" src="/images/entity-framework.png" style="width:100%" />
    </div>
    <div class="col-md-8">
        <h3>Fire Training Portal</h3>
        <p>The Fire Training Portal is a scheduling and record keeping system for the training division of the St Catharines Fire Department. The portal is an ASP.NET web application using the MVC design pattern and Entity Framework. It was developed to replace an existing system using MS Access that was no longer fit for purpose.</p>
        <p><b>Skill Used: C#, .NET Framework, Entity Framework, SQL Server, HTML/CSS, jQuery</b></p>
        <p><a href="#">View source code</a></p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <img alt=".NET Core" src="/images/core.png" style="width:50%" />
    </div>
    <div class="col-md-8">
        <h3>YRN Case Management System</h3>
        <p>Developped for Youth Resources Niagara, the Case Management System is part of the organization's goal to establishing a data driven approach to providing useful service to the youth placed their care. The application is a RESTful web api developped using .NET Core and Enitty Framework, and Windows Forms Application client.</p>
        <p><b>Skills Used: C#, .NET Core, .NET Framework, Entiy Framework, SQL Server, Windows Forms, RESTful web api<b></p>
        <p>Source code not available for data protection reasons</p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <img src="/images/hero_activedirectory.jpg" alt="Active Direcotry Logo" style="width:100%" />
    </div>
    <div class="col-md-8">
        <h3>Password Reset Tool</h3>
        <p>Lorem ipsum</p>
        <p>Source code not available for security reasons</p>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-4">
        <img src="/images/oracle.png" alt="Oracle Logo" style="width:100%" />
    </div>
    <div class="col-md-8">
        <h3>Feekeeper</h3>
        <p>Feekeeper is a tool developped for the City of St Catharines to update municipal rates and fees, mostly related to building permits. It is an ASP.NET web application connected to the same Oracle database as the municipal permitting application, CSDC Amanda. The tool was developed to accomodate a version upgrade to CSDC Amanda which would otherwise have broken the exisinting fee updating process. Development of this application also included a much needed audit of existing fee procedures.</p>
        <p>Skills Used: C#, .NET Framework, Oracle, Entity Framework, HTML/CSS, jQuery</p>
        <p><a href="#">View source code</a></p>
    </div>
</div>