<h2>Portfolio</h2>
<div class="row">    
    <div class="col-md-4">
        <img alt="Entity Framework Logo" src="/images/entity-framework.png" />
    </div>
    <div class="col-md-8">
        <h3>Fire Training Portal</h3>
        <p>The Fire Training Portal is a scheduling and record keeping system for the training division of the St Catharines Fire Department. The portal is an ASP.NET web application using the MVC design pattern and Entity Framework. It was developed to replace an existing system using MS Access that was no longer fit for purpose.</p>
        <p><b>Skill Used: C#, .NET Framework, Entity Framework, SQL Server, HTML/CSS, jQuery</b></p>
        <p><button type="button" class="btn-link" data-toggle="modal" data-target="#fireModal">View Images</button></p>
        <div id="fireModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Fire Training Portal</h4>
                    </div>
                    <div class="modal-body">
                        <div id="fireCarousel" class="carousel slide" data-ride="carousel">  
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                                <li data-target="#myCarousel" data-slide-to="3"></li>
                            </ol>  
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="images/fire1.png" class="screenshot"/>
                                </div>
                                <div class="item">
                                    <img src="images/fire2.png" class="screenshot"/>
                                </div>
                                <div class="item">
                                    <img src="images/fire3.png"  class="screenshot"/>
                                </div>
                                <div class="item">
                                    <img src="images/fire4.png"  class="screenshot"/>
                                </div>
                            </div>  
                            <a class="left carousel-control" href="#fireCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#fireCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>                    
                    <div class="modal-footer">      
                        <div class="col-md-6 left">
                            <span>Names redacted for privacy.</span>                  
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <img src="/images/stcatharines-logo.png" alt="City of St Catharines Logo" />
    </div>
    <div class="col-md-8">
        <h3>Password Reset Tool</h3>
        <p>The password reset tool is a web application developed for the City of St Catharines to support legacy applications whose built in password reset features were lacking. It combines Active Directory, AspNet Identity and Oracle Authentication to authenticate and track users, and to reset their passwords. The tool in its current form was built mostly on my initiative.</p>
        <p><b>Skills Used: C#, .NET Framework, Active Directory, AspNet Identity, Oracle, HTML/CSS, jQuery</b></p>        
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-4">
        <img alt="Youth Resources Niagara Logo" src="/images/cropped-yrn-banner-1.png" />
    </div>
    <div class="col-md-8">
        <h3>YRN Case Management System</h3>
        <p>Developped for Youth Resources Niagara, the Case Management System is part of the organization's goal to establishing a data driven approach to providing useful service to the youth placed their care. The application is a RESTful web api developped using .NET Core and Enitty Framework, and Windows Forms Application client.</p>
        <p><b>Skills Used: C#, .NET Core, .NET Framework, Entiy Framework, SQL Server, Windows Forms, RESTful web api</b></p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <img src="/images/stcatharines-logo.png" alt="City of St Catharines Logo"/>
    </div>
    <div class="col-md-8">
        <h3>Feekeeper</h3>
        <p>Feekeeper is a tool developped for the City of St Catharines to update municipal rates and fees, mostly related to building permits. It is an ASP.NET web application connected to the same Oracle database as the municipal permitting application, CSDC Amanda. The tool was developed to accomodate a version upgrade to CSDC Amanda which would otherwise have broken the exisinting fee updating process. Development of this application also included a much needed audit of existing fee procedures.</p>
        <p><b>Skills Used: C#, .NET Framework, Oracle, Entity Framework, HTML/CSS, jQuery</b></p>        
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-4">
        <img src="/brocku-logo-rgb.svg" alt="Brock University Logo"/>
    </div>
    <div class="col-md-8">
        <h3>ESP 2015</h3>
        <p>The Electron Spin Propram (ESP) is a scientific program initially developed at the Freie Universität Berlin in the late 1980's to capture and analyse the results of experiments in electron spin resonance. In 2015, I was given the taks of modernising the build of the program currently in use at Brock University. In particular, I changed the output file format from raw binary to plain text, since constraints on hard drive are not nearly as tight as they were thiry years ago, and I created a graphical user interface, since many of the program's users were not particularly comfortable with the command line</p>
        <p><b>Skills Used: C, Tcl/Tk, Bash</b></p>
    </div>
</div>