<h2>Resume</h2>
<div>
    <h3>Education</h3>
    <div>
        <p>2017 &ndash; 19 On going</p>
        <p>Niagara College, <i>Welland, ON</i></p>
        <p>Diploma, Computer Programmer Analyst</p>
    </div>
    <br/>
    <div>
        <p>2010 &ndash; 15</p>
        <p>Université de Montréal, <i>Montréal, QC</i></p>
        <p>BSc, Mathematics</p>
    </div>
    <br/>
</div>
<div>
    <h3>Work Experience</h3>
    <div>
        <p>2019 On going</p>
        <p><b>System Analyst Student</b>, City of St Catharines, <i>St Catharines, ON</i></p>
        <ul>
            <li>Developed web applications using .NET</li>
            <li>Created enhancements for Oracle based applications</li>
            <li>Audited Oracle stored procedures for rates & fees</li>
            <li>Interviewed stakeholders to gather requirements</li>
            <li>Wrote a user manual for one of the web applications</li>
            <li>Wrote instructions for user approval testing of web applications</li>
        </ul>
    </div>
    <br/>
    <div>
        <p>2018 &ndash; 19</p>
        <p><b>Computer Design Technician</b>, Youth Resources Niagara, <i>Fonthill, ON</i></p>
        <ul>
            <il>Created a Sql database to match existing case management paperwork</il>
            <li>Developed a RESTful Web API using .NET to connect to the database</li>
            <li>Developed a Windows Form Application as a user interface for the API</li>
            <li>Developed unit tests to ensure the API and Forms App worked correctly</li>
            <li>Interviewed stakeholders to gather requirements and solicit feedback</li>
        </ul>
    </div>
    <br/>
    <div>
        <p>2015 &ndash; 16</p>
        <p><b>Computer Programmer (Volunteer)</b>, Brock University, <i>St Catharines, ON</i></p>
        <ul>
            <li>Designed a graphical user interface for scientific software</li>
            <li>Modified the output file format to better fit the PC the program was running on</li>
            <li>Created conversion utility to convert existing output files into new format</li>
            <li>Debugged known issues with the program</li>
        </ul>
    </div>
</div>